/* Reset general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff; /* Fondo blanco */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1000px;
    padding: 20px;
}

/* Imágenes a los costados */
.logo,
.imagen-inferior {
    max-width: 150px;
    width: 100%;
    height: auto;
}

/* Texto central */
h1 {
    margin: 0 40px;
    font-size: 3rem;
    color: #333;
    text-align: center;
}
